* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
    text-decoration: none;
}

body {
    background-image: url(./images/bc1.jpg);
    background-position: center -1000px;
    min-width: 200px;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
    padding: 0;
}

.content {
    /* position: relative; */
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;

    padding: 15px 15px 40px;
    margin: 10vh 30%;

    min-width: 500px;
    min-height: 80%;
    border-radius: 30px;

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.466);
}

.with-two-position {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 20px;
    flex-wrap: wrap;
}
/* .lections{
    position: absolute;
    left: 20px;
}

.homeworks{
    position: absolute;
    right: 20px;
} */

.works-boxing {
    background-color: #00acac31;
    min-height: auto;
    padding: 10px;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.466);
    min-width: 200px;
}

ol {
    padding-left: 20px;
}
li {
    margin: 3px;
}

li :hover {
    color: rgb(0, 134, 175);
    font-size: large;
}
a {
    color: black;
    font-style: italic;
}

.social {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    gap: 10px;
    min-width: 80%;
    max-height: 35px;
}

.icons {
    max-width: 30px;
    max-height: 30px;
}
