/* ваш код */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
img {
    width: 500px;
}

.general {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 50px;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

    position: absolute;
    top: 90px;
    left: 90px;
    background-color: rgb(59, 179, 58);
    color: white;
}

.bot-right {
    position: absolute;
    bottom: 90px;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 140px;
    background-color: rgb(255, 86, 0);
    color: white;
    cursor: pointer;
}

.red {
    background-color: rgb(255, 0, 0);
}
